/*global elements*/

body {
  margin: 0;
  max-width: 100%;
}
main {
  margin-bottom: 10px;
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.center {
  margin: 0 auto;
}
img {
  max-width: 100%;
}
/*header */
nav {
  display: none;
}
input[type="checkbox"] {
  display: none;
}
header .logo {
  grid-column: 2/3;
}
header img {
  max-width: 50px;
}
header label {
  grid-column: 1;
  grid-row: 1;
  margin: auto 20px;
}
input[type="checkbox"]:checked ~ nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  background-color: white;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}
nav a {
  font-size: 1rem;
}
header {
  display: grid;
  background-color: #f58607;
  grid-template-columns: 1fr 1fr 1fr;
}
footer {
  background-color: #f58607;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr auto;
  padding: 0 10px;
  align-items: center;
  justify-items: right;
}
footer h4 {
  text-align: left;
}

#copy {
  grid-column: 1/4;
  grid-row: 2/3;
  text-align: center;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  color: black;
  font-size: 0.5rem;
}
h1,
h2,
h3,
h4,
a {
  letter-spacing: 0.05em;
  font-family: "Work sans", sans-serif;
  text-align: center;
  font-weight: 500;
}
h1,
h3 {
  margin: 10px auto;
}
p,
li {
  font-size: 0.5rem;

  font-family: "IBM Plex Sans", sans-serif;
  margin: 3px auto;
}

.underline {
  text-decoration: underline;
}
.cta {
  padding: 10px 7%;
  color: white;
  border-radius: 2px;
  align-self: center;
}
.red {
  background-color: #a81e36;
}
.orange-text {
  color: #f58607;
}
.orange {
  background-color: #f58607;
  /* to make headers be the full length also in flex */
  width: 100%;
}
/*border: black solid 1px;*/
.black-border {
  border: solid black 1px;
}
.white {
  /*background-color: white;*/
  color: white;
}
.blue {
  background-color: #288cdc;
}
.black {
  color: black;
}
.green {
  background-color: #13f5bb;
}
.cta:hover {
  text-decoration: underline;
}
.sphere {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sphere > div {
  margin: auto auto;
}
.onimg {
  position: absolute;
}
.hidden {
  display: none;
}
/* calendar event box for mobile */
.date-box {
  margin: 10px 15%;
  border: solid black 1px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1.5fr 0.5fr 0.5fr;
  grid-template-rows: auto auto auto;
  align-items: end;
  justify-items: center;
  padding-bottom: 10px;
}

.date-box section {
  grid-column: 3/4;
  grid-row: 3/4;
  display: grid;
  justify-items: center;
  text-align: center;
}
.date-box h3 {
  grid-column: 1/6;
  grid-row: 2/3;
}
.date {
  grid-column: 1/3;
  grid-row: 3/4;
}
.time {
  grid-column: 4/6;
  grid-row: 3/4;
}
.image {
  grid-column: 1/6;
  background-color: #e1e1e1;
  padding: 0 20%;
  border-radius: 10px 10px 0 0;
  height: 100%;
}
.image img {
  height: 100%;
}
/*index mobile */
#hero {
  position: relative;
}
#hero img {
  display: block;
}
.hero-text {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.hero-text h1 {
  margin: 5px;
}
.img-box {
  position: relative;
}
#exhibits,
.exhibits {
  flex-direction: column;
}
#exhibits {
  border-bottom: #a81e36 solid 1px;
  padding-bottom: 5px;
}

.top-text {
  position: absolute;
  color: white;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.bot-text {
  width: 70%;
  position: absolute;
  display: grid;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  color: white;
}
.bot-text a {
  width: 40%;
}
#visit {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
#visit i {
  font-size: 3em;
}
.visit-cta {
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas:
    ". teachers teachers  . parents parents ."
    ". kids kids . researchers researchers .";
  gap: 10px;
}

#parents {
  grid-area: parents;
}
#kids {
  grid-area: kids;
}
#teachers {
  grid-area: teachers;
}
#researchers {
  grid-area: researchers;
  padding: 10px 0;
}
/* sphere with underline and white */
.sphere p {
  font-size: 0.9rem;
  text-align: center;
  padding: 3px 5px;
}

/* event on event.html */
.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
/*about museum */

.about,
#opening,
#involved {
  max-width: 80%;
  margin: 10px auto;
  border-left: solid #a81e36 1px;
  border-right: solid #a81e36 1px;
  padding: 15px;
}
#about {
  flex-direction: column;
  align-items: center;
}
#opening {
  flex-direction: column;
}
/* info/visit*/
#visit-page {
  align-items: center;
  margin-bottom: 10px;
}
#global-info {
  margin: 0 0 0 auto;
  max-width: 80%;
  grid-template-columns: auto;
}
#global-info div {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: auto auto;
}
#global-info > div > p:first-child {
  grid-column: 1/2;
  width: 100%;
  font-weight: 700;
}
#global-info > div > i {
  grid-column: 2/3;
  grid-row: 1/3;
  text-align: center;
  margin: auto auto;
  font-size: 7vw;
}
#kids {
  border-top: solid #a81e36 1px;
}
.text {
  border-top: solid 1px #a81e36;
  border-bottom: solid 1px #a81e36;
  max-width: 80%;
  margin: 10px auto;
}
.side-border {
  flex-direction: column;
  gap: 20px;
  border-left: solid #a81e36 1px;
  border-right: solid #a81e36 1px;
  max-width: 80%;
  padding: 5px 10px;
  margin: 10px auto;
}
.info-img {
  padding-top: 10px;
}
/* explore */
#explore {
  flex-direction: column;
}
/*event page */
#eventpage .hero-text {
  left: 0;
  top: 0;
  transform: translate(0, 0);
}

/* tablet */

@media screen and (min-width: 768px) {
  .hidden {
    display: block;
  }
  header {
    grid-template-columns: 0.5fr 2fr 1fr 2fr 0.5fr;
  }
  header .logo {
    grid-column: 3/4;
  }

  input[type="checkbox"]:checked ~ nav {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: transparent;
    position: relative;
  }/*footer*/
  footer{
    justify-items: center;
  }
  footer p{
    grid-column: 1/4;
  }
  /* hero image */
  #landingpage #hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
  }
  #hero img {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #hero .sphere {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 75%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    border-left: solid #a81e36 1px;
    border-right: solid #a81e36 1px;
    border-radius: 0%;
  }

  .hero-text {
    grid-column: 1/3;
    grid-row: 1/2;
    transform: translate(0, 0);
    top: 0;
    left: 0;
    position: static;
  }
  #exhibits > section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* event */
  #events > section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 50px;
    gap: 50px;
  }
  /* .date-box {
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto auto auto;
  }

  .date {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .time {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .image {
    grid-column: 2/4;
    grid-row: 1/2;
    padding: 0;
  }
  .date-box h3 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .date-box section {
    grid-column: 2/4;
    grid-row: 3/4;
  }
  */
  /*explore page */
  #explore {
    max-width: 90%;
    padding: 0 20px;
    border-left: #a81e36 solid 1px;
    border-right: #a81e36 solid 1px;
    margin: 5px auto;
  }
  #explore .text {
    width: 90%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  #explore .text h3 {
    grid-column: 1/3;
  }
  #explore .text p:first-of-type {
    border-right: #a81e36 solid 1px;
  }
  #explore .text p {
    padding: 20px 30px;
  }
  #explore .sphere {
    width: 150px;
    height: 150px;
    margin: 10px;
  }
  /*eventpage */
  #eventpage h1 {
    border-bottom: #a81e36 solid 1px;
  }
  #eventpage > .event {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
  }
  #eventpage > article > .img-box {
    grid-column: 1/3;
  }
  #eventpage > article > p {
    grid-row: 2/4;
  }
  /*exhibit */
  article.exhibits section.side-border {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  /*visit page */
  #opening {
    padding: 10px 50px;
  }
  #global-info {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 30px 20px;
    margin-bottom: 20px;
  }
  #global-info div:last-child {
    grid-column: 1/3;
  }
  /*about museum*/
  #about img {
    width: 80%;
  }
  .about {
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }
  .about h2 {
    grid-column: 1/3;
  }
  #about h3 {
    border-bottom: solid 1px #a81e36;
  }
  #involved {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  #involved section:last-child {
    grid-column: 1/3;
    padding: 10px 70px;
  }
}
/*desktop*/
@media screen and (min-width: 1024px) {
  /* global things */
  a {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    font-size: 1.8rem;
  }
  p,
  li {
    font-size: 1rem;
  }
  .cta {
    text-decoration: none;
  }
  .cta:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  /*show navigation and right header layout */
  header {
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
  }
  input,
  label {
    display: none;
  }
  nav {
    display: flex;
    gap: 5%;
    grid-column: 3/4;
  }
  header .logo {
    grid-column: 1/2;
  }
  /*footer */
  footer{
    justify-items: center;
  }
  
  /*hero on landingpage */
  #landingpage #hero {
    display: block;
    grid-template-columns: 1fr;
    max-width: 90%;
    border: solid 1px #a81e36;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #hero .sphere {
    background-color: #13f5bb;
    border-radius: 50%;
    border-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    top: 75%;
    left: 80%;
    transform: translate(-50%, -50%);
    row-gap: 20px;
  }
  #landingpage #hero img {
    position: relative;
    max-width: 100%;
  }

  /* landingpage exhibit*/
  #exhibit {
    max-width: 100%;
  }
  #exhibits section {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
  #exhibits .img-box {
  }
  /* visit cta frontpage */
  .visit-cta {
    grid-template-columns: 0.5fr repeat(4, 1fr) 0.5fr;
    grid-template-areas: ". kids teachers parents researchers .";
    column-gap: 20px;
  }
  #exhibits .bot-text{
    top: 75%;
  }
  /* event section frontpage */
  #events .boxes {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 0 10px;
  }
  .date-box{
    margin: 10px 40px;
  }
  .date-box a{
    font-size: 0.7em ;
  }
  /*explore*/
  #explore {
    row-gap: 10px;
  }
  #explore section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: #a81e36 solid 1px;
    border-bottom: #a81e36 solid 1px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    align-items:center;
  }
  #explore .text {
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: center;
    padding: 0 30px;
  }
  #explore section img {
    max-height: 600px;
  }
  #explore .text h3 {
    grid-column: 1/2;
  }
  #explore .text p:first-of-type {
    border-right: none;
  }
  .big {
    width: 75%;
  }
  /*exhibits*/
  .exhibits .side-border p {
    padding-right: 20px;
    border-right: #a81e36 solid 1px;
  }

  /*events */
  #eventpage {
    max-width: 90%;
  }
  #eventpage .event {
    border: solid #a81e36 1px;
    grid-template-rows: auto auto auto auto;
    padding: 5px 0;
  }
  #eventpage img {
    height: 400px;
  }
  #eventpage > .event > .img-box {
    grid-column: 1/2;
    grid-row: 1/5;
  }
  #eventpage > .event > p {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  #eventpage > .event > h4 {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  #eventpage > .event > .sphere {
    grid-row: 4/5;
    grid-column: 2/3;
  }
  /*visit page */
  #visit-page {
    max-width: 90%;
    border: #a81e36 solid 1px;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  #visit-page h1 {
    grid-row: -1;
    border-bottom: #a81e36 solid 1px;
    margin-bottom: 30px;
  }
  #global-info {
    grid-row: 2/3;
    max-width: 90%;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    row-gap: 100px;
  }

  #global-info div:last-child {
    grid-column: 1/3;
    padding: 0 20%;
  }
  /* about page*/
  #involved {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #involved section:last-child {
    grid-column: 3/4;

    padding: 0;
  }
}
